ADMIN_PASSWORD={{ odoo_admin_password }}
LIST_DB={{ odoo_listdb }}
PROXY_MODE={{ odoo_proxy_mode }}
MAX_CRON_THREADS={{ max_cron_threads }}
WORKERS={{ workers }}
LIMIT_MEMORY_HARD={{ limit_memory_hard }}
LIMIT_MEMORY_SOFT={{ limit_memory_soft }}
SERVER_WIDE_MODULES={{ server_wide_modules }}
DB_NAME={{ odoo_db_name }}
